.CalcContainer {
  width: 30%;
  margin: 0 auto;
}

.CalcOutput {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background-color: rgb(141, 141, 141);
}

.CalcOutput > span {
  padding: 1rem;
}

.CalcKeysContainer {
  width: 100%;
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.CalcKey {
  padding: 1.25rem 0;
  text-align: center;
  background-color: azure;
  border: 1px solid rgb(210, 210, 210);
}

.CalcKey:nth-child(4n) {
  background-color: orange;
}

.CalcKey:nth-child(17) {
  grid-column: 1 / span 2;
}

.CalcKey:last-child {
  background-color: orange;
}
